DEBUG=True

SECRET_KEY=your-secret-key

LLM_API_KEY=your-api-key

MODEL = model-name

OPENAI_API_KEY=api-key

EMBEDDING_API_KEY=your-api-key

BASE_URL="https://api.gapgpt.app/v1"

ALLOWED_HOSTS=127.0.0.1,localhost